h1 {
  text-align: center;
}

textarea {
    resize: none;
}

.form {
  padding: 10px;
  width: 100%;
}

.form td {
  padding: 10px 10px 3px 3px;
  border: none;
}

.label-req {
  color: red;
}

.label-mand {
  color: green;
}

.form-label {
  text-align: right;
}

.fn {
  margin-top: 20px;
  border-top: 1px dotted black;
  font-style: italic;
}

td.break, th.break {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

td.sep {
  text-align: center;
  font-size: 120%;
  border: 2px solid black;
  background: #DDDDDD;
}

.fixed-table-body {
    height: 70%;
}

